In [57]:
df.head(2)

,distance,consume,speed,temp_inside,temp_outside,AC,rain,sun,gas_types
0,28.0,5.0,26,21.5,12,0,0,0,0
1,12.0,4.2,30,21.5,13,0,0,0,0

In [58]:
x=df.drop(['consume'],axis=1)
y=df.consume

In [59]:
from sklearn.model_selection import train_test_split

In [60]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,
                                              random_state=42)

In [61]:
from sklearn.linear_model import LinearRegression

In [62]:
linear_reg=LinearRegression()

In [63]:
linear_reg.fit(x_train,y_train)

LinearRegression()

In [64]:
y_pred=linear_reg.predict(x_test)

In [65]:
from sklearn.metrics import mean_absolute_error,mean_squared_error

In [66]:
mean_absolute_error(y_test,y_pred)

0.6689496242764842

In [67]:
mean_squared_error(y_test,y_pred)

0.7476946880297469

In [68]:
np.sqrt(mean_squared_error(y_test,y_pred))

0.864693406954018

In [71]:
import joblib
joblib.dump(linear_reg,'model.save')

['model.save']

In [72]:
y

0      5.0
1      4.2
2      5.5
3      3.9
4      4.5
      ...
383    3.7
384    4.3
385    3.8
386    4.6
387    5.0
Name: consume, Length: 388, dtype: float64

In [73]:
x

     distance  speed  temp_inside  temp_outside  AC  rain  sun  gas_types
0        28.0     26         21.5            12   0     0    0          0
1        12.0     30         21.5            13   0     0    0          0
2        11.2     38         21.5            15   0     0    0          0
3        12.9     36         21.5            14   0     0    0          0
4        18.5     46         21.5            15   0     0    0          0
..        ...    ...          ...           ...  ..   ...  ...        ...
383      16.0     39         24.5            18   0     0    0          1
384      16.1     38         25.0            31   1     0    0          1
385      16.0     45         25.0            19   0     0    0          1
386      15.4     42         25.0            31   1     0    0          1
387      14.7     25         25.0            30   1     0    0          1

[388 rows x 8 columns]